header {
  width: 100%;
  margin: 10px;
  display: flex;
}
.title{font-size: 30px;margin-right: auto;
  color: rgb(26, 69, 148);
}
.menu-item {
  display: inline-block;
  padding: 10px;
  color: rgb(26, 69, 148);
  font-family: 'Sawarabi Gothic', sans-serif;
  
}
.img img {width: 50%;
position: absolute;}

.bg{width: auto;
  margin: auto ;
  }

.img{position: relative;
  top: 150px;
  }
.messege{font-size: 50px;
font-family: 'Sawarabi Gothic', sans-serif;}
.box{width: 900px;
  height: 200px;
  background: rgb(17, 62, 146);
}

